<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Network Node" }}</title>
  <link rel="stylesheet" href="/assets/css/brutalist.css">
  <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body>
  {% include "partials/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>
