<!-- Giscus comment widget -->
<script src="https://giscus.app/client.js"
        data-repo="YOURUSERNAME/YOURREPO"
        data-repo-id="REPO_ID"
        data-category="General"
        data-category-id="CATEGORY_ID"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-theme="dark"
        crossorigin="anonymous"
        async>
</script>
